@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);

/* fonts */

p {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279; 
}
a {
  color: #e84545;
  text-decoration: none;
}
h1 {
  font-size: 65px;
  color: #2d3033; 
}

h2 {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: bold; 
}

.clearfix:after{
    display: table;
    content: " ";
    clear: both;
}

/*main*/

*{
    box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #6c7279; 
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none; 
}

ul, ol {
  margin: 0;
  padding: 0; 
}


/* header */

#header {
  display: block;
  position: relative;
  width: 100%;
  z-index: 10;
  background-image: url(../image/background-min.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px; 

}
#header .header-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
    max-width: 1170px;
    padding: 40px 0;
    
}

#header .logo {
    float: left; 
}
.navigation {
  float: right; 
}
.navigation li {
    display: inline-block;
}
.navigation a {
    color: #cbccd2;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin-left: 40px;
}
.navigation a:hover {
    color: darkgray;
}
/* header: masthead*/

.masthead {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    max-width: 1000px;
    
}
.masthead-content {
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
}
.masthead-content h1 {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.masthead-content p {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px; 
}

.button {
  display: inline-block;
  background-color: #e84545;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid rgba(0,0,0,0);
  padding: 15px 40px;
}
.button:hover {
    font-size: 16px;
}

/* features */

.features {
    padding-right: 15px;
    padding-left: 15px;
    margin: 100px auto;
    margin-left: 150px;
}
.feature-blocks {
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;

}

.feature {
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
    text-align: center;
    min-height: 1px;
    width: 350px;
    padding: 0 15px;

}
.feature-content {
    padding: 0 15px;
    margin-top: 30px; 
}
.feature-content h2 {
    margin-top:10px;
    padding-bottom: 10px;
}
.feature-icons {
    margin: 0 auto;
    width: 102px;
    height: 100px;
}
.feature1 {
    background: url("../image/features.png") no-repeat 0 0;
}
.feature2 {
    background: url("../image/features.png") no-repeat -100px 0;
}
.feature3 {
    background: url("../image/features.png") no-repeat -200px 0;
}
.feature4 {
    background: url("../image/features.png") no-repeat 0 -100px;
}
.feature5 {
    background: url("../image/features.png") no-repeat -100px -100px;
}
.feature6 {
    background: url("../image/features.png") no-repeat -200px -100px;
}

/*works*/

.works {
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
}
.worksblock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work{
  position: relative;
  width: 25%;
  height: 350px;
  padding-right: 0;
  padding-left: 0; 
  text-align: center;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: 0 0 0 1px #fff;
}
.work a{
    display: block;
    height: 350px;
    width: 100%;
}
.works-content {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: #fff;
    z-index: 10;
}

.works-content h2, .works-content p {
    color: #fff;
    margin: 0;
    opacity: 0; 
}
.work:hover h2, .work:hover p{
    opacity: 1;

}
.overlay{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;

}
.work:hover .overlay{
    background-color: rgba(232, 69, 69, 0.7);
    opacity: 1;
}


.works-content h2 {
    margin-bottom: 5px;
}



/* footer */

.footer {
    text-align: center;
    width: 100%;
}
.footer-blocks {
    margin: 0 auto;
}
.footer .footer-column {
    display: inline-block;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    min-height: 1px;
    padding-left: 120px;
    max-width: 450px;
    vertical-align: top;

}
.columns {
    display: block;
    margin: 0 auto;

}
.footer-top {
    background-color: #3a3e64;
    padding-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 0px;
    width: 100%;

}
.footer-bottom {
    position: relative;
    background-color: #313454;
    padding: 20px 15px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    min-height: 1px;
    width: 100%;
    float: left; 
}

.footer h2 {
    color: #fff;
    margin-bottom: 20px;
}
.footer p {
    color: #9d9fb2;
}
.footer a {
    color: #fff; 
}
.footer .social-icons {
      margin-top: -20px; 
      display: inline-block;
      float: none; 
}
.footer .heart {
      display: inline-block;
      float: none; 
}

/*team*/

.team {
    width: 100%;
    padding: 100px 0;
    margin: 0 auto;
}
.teammates { 
    margin: 0px;
    padding: 0px;
    padding-left: 100px;
}

.teammate {
    display: inline-block;
    max-width: 300px; 
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto 50px;
}

.teammate-text{
    margin-top: 20px; 
}
.teammate h2{
    font-size: 22px;
    color: #2d3033;
    font-weight: 400; 
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 5px;
}
.teammate .occupation{
    color: #e84545;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.teammate .occupation{
    color: #e84545;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px; 
    text-transform: uppercase;
}

/*download*/

	section{
		display: block;
	}

	.section {
		padding: 100px 0;
	}

	.container {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	.container:before{
		display: table;
		content: " ";
	}

	.container:after{
		display: table;
		content: " ";
		clear:both;
	}

	.text-center{
		text-align: center;
	}

	.col-md-8 {
		width: 50%;
		padding-right: 15px;
		padding-left: 15px;
		margin: 0 auto;
	}

	.download h3 {
		margin-top: 0;
		font-size: 28px;
		color: #2d3033;
		font-weight: 300;
		margin-bottom: 10px;
		font-family: inherit;
		line-height: 1.1;
	}

	.download p {
		color: #2d3033;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 22.4px;
		margin: 0 0 10px;
	}

	.download #btn {
		margin-top: 30px;
		padding: 15px 40px;
		background-color: #e84545;
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		border: 0;
		border-radius: 2px;
		display: inline-block;
		text-transform: uppercase;
	}

/*icon sprites*/

.social-icons{
    padding-top: 30px;
}
.social-icons a{
    display: inline-block;
    background-image: url("../image/team_social.png");
    width: 42px;
    height: 42px;
    margin-right: 2px;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.social-icons:before, .social-icons: after{
    display: table;
    content: " ";
}
.social-icons: after{
    clear: both;
}
.social-icons a:hover{
    border: 2px solid rgba(232, 69, 69, 0.3);
}
.footer .social-icons a{
    background-image: url("../image/footer_social.png");
}
.soc-fb{
    background-position: 0 0;
}
.soc-tw{
    background-position: 50% 0;
}
.soc-lin{
    background-position: 100% 0;
}
.heart{
    display: inline;
    background-image: url("../image/heart.png");
    width: 13px;
    height: 12px;
    background-repeat: no-repeat;
   vertical-align: middle;
}